* {
    margin: 0;
    padding: 0;
}

@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

/* Main body */

/* @media only screen and (max-width: 370px) {
    .main {
        display: grid;
        grid-template-rows: 0.5fr 2fr 1fr;
    }
}
@media only screen and (min-width: 371px) and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-rows: 0.5fr 3fr 1fr;
    }
}
@media only screen and (min-width: 768px) {
    .main {
        display: grid;
        grid-template-rows: 0.5fr 3fr 1fr;
    }
} */

.main{
    display: grid;
}



.btn{
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    width: 20em;
    height: 3em;
    border: none;
}

.green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1; 
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
}


/* header from here */
.header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    justify-content: space-around;
}

.header-heading {
    grid-row: 1 / 4;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.our-stories, .about-us, .news-events{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.btn-head {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 2em;
}

/* Tablet view of header */
@media only screen and (min-width: 420px) and (max-width: 768px){
    .header {
        grid-template-columns: 2fr 1fr;
        padding: 1em;
        justify-content: space-around;
    }

    .btn-head {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        justify-self: center;
        margin: 2em;
    }

    .head-subsection {
        display: grid;
        grid-column: 1 / 2;
        grid-template-columns: auto auto auto;
        justify-content: start;
        padding-left: 2em;
        column-gap: 2em;
    }

    .header-heading {
        padding-left: 1.5em;
        padding-top: 1em;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .btn-head{
        width: 15em;
    }
}

/* Head for Desktop */
@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: 2.5fr 3fr 2fr;
        padding-top: 2em;
        justify-content: space-evenly;
    }

     .btn-head {
        grid-column: 3 / 4;
        margin-top: 0;
    } 

    .head-subsection {
        display: grid;
        /* grid-column: 1 / 2; */
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        padding-top: 1em;
        column-gap: 1em;
    }

    .header-heading {
        justify-self: center;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .btn-head{
        width: 12em;
    }
}

/* header Ends Here */


/* Section-1 that contains Intro */

.section-1 {
    display: grid;
    background: transparent url('../../media/home/annie-spratt-135307-unsplash.png') 0% 0% no-repeat padding-box;
    /* opacity: 0.76; */
    background-position: center;
    background-size: cover;
    align-content: space-between;
    grid-template-rows: 1fr 1fr;
    padding: 2em;
}

.section-1-heading {
    text-align: left;
    font: normal normal normal 44px/46px flood-std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* padding-top: 1em; */
}

.the-issue {
    display: grid;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    opacity: 1;
    padding: 0em 1em 1em 1em;

    /* row-gap: 1em; */
}

.the-issue-head{
    justify-self: center;
    transform: translate(0, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.the-issue-main {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    /* padding-left: 0.5em; */
}

.the-issue-footer {
    text-align: center;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;  
}

/* Tablet View for Section-1 */

@media only screen and (min-width: 420px) and (max-width: 768px) {

    .section-1 {
        padding: 3em;
    }
    
    /* .section-1-heading {
         padding: 1em; 
    } */

    .the-issue{
        padding: 0em 2em 2em 2em;
        /* margin: 0 2em 0 2em; */
        align-content: space-around;
    }

    .the-issue-head {
        justify-self: start;
        /* transform: translate(0, -130%); */
    }
    
    .the-issue-main {
        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .the-issue-footer {
        text-align: left;
    }
}

/* Desktop View for section-1 */

@media only screen and (min-width: 768px) {

    .section-1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
        padding: 5em;
    }

    .section-1-heading {
        order: 1;
        padding-left: 2em;
    }
    .the-issue{
        align-content: space-around;
        padding: 0 3em 3em 3em;
        row-gap: 1em;
    }

    .the-issue-head {
        justify-self: start;
        transform: translate(0, -50%);
    }
    
    .the-issue-main {
        text-align: left;
        font: normal normal bold 44px/56px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .the-issue-footer {
        text-align: left;
    }
}

/* Section-1 Ends Here */

/* Section-2 stats here */

.section-2 {
    display: grid;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    grid-template-rows: 0.5fr 4fr;
}

.section-2-head {
    justify-self: center;
    transform: translate(0, -50%);
}

.section-2-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    padding: 2em;

}

.section-2-content h1{
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.section-2-content p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

/* Desktop View from here */

@media only screen and (min-width: 768px) {
    .section-2-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content: space-around;
        column-gap: 1em;
        padding: 2em; 
    }
}

/* Section 2 Ends here */

/* Section 3 starts from here */

.section-3 {
    display: grid;
    row-gap: 4em;
    padding: 2em;
    background: #354463 0% 0% no-repeat padding-box;
}

.our-mission {
    display: grid;
    row-gap: 1em;
}

.what-we-do  {
    justify-self: center;
    color: #354463;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.our-mission-text {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-plant, .edu-train, .adv-camp {
    display: grid;
    padding: 0 1.5em 1em 1.5em;
    grid-template-rows: 4fr 1fr 2fr 2fr;
    /* row-gap: em; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tree-plant-head, .edu-train-head, .adv-camp-head {
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.tree-plant-text, .edu-train-text, .adv-camp-text {
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.tree-plant-btn, .edu-train-btn, .adv-camp-btn {
    width: 10em;
    height: 3em;
    align-self: center;
    justify-self: center;
}

.tree-plant-img, .edu-train-img, .adv-camp-img {
    background: transparent url('../../media/home/tree-planting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 100%;
    /* background-position: center; */
    transform: translate(0, -15%);
}

.edu-train-img {
    background: transparent url('../../media/home/education-training.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.adv-camp-img {
    background: transparent url('../../media/home/advocacy.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* Tablet View for section-3 */

@media only screen and (min-width: 420px) and (max-width: 768px) {

    .section-3 {
        padding: 3.5em;
    }

    .what-we-do  {
        justify-self: left;
        color: #354463;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    
    .our-mission-text {
        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .tree-plant, .edu-train, .adv-camp {
        padding: 2em 2em 0 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
    }

    .tree-plant-text, .edu-train-text, .adv-camp-text {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }

    .tree-plant-head, .edu-train-head, .adv-camp-head {
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .tree-plant-btn, .edu-train-btn, .adv-camp-btn {
        width: 10em;
        height: 3em;
        grid-row: 3;
        grid-column: 1;
        align-self: center;
        justify-self: right;
    }

    .tree-plant-img, .edu-train-img, .adv-camp-img {
        transform: translate(0, -30%);
        grid-row: 1 / 4;
        grid-column: 1;
    }

}

/* Desktop veiw for section-3 from here */

@media only screen and (min-width: 768px) {
    .section-3 {
        padding: 5em;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3em;
        column-gap: 3em;
    }

    .our-mission {
        grid-column: 1 / 4;
    }

    .what-we-do  {
        justify-self: left;
        color: #354463;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    
    .our-mission-text {

        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .tree-plant, .edu-train, .adv-camp {
        display: grid;
        padding: 0 1.5em 1em 1.5em;
        grid-template-rows: 2fr 1fr 2fr 1fr;
        row-gap: 1em;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
    }


    .tree-plant-text, .edu-train-text, .adv-camp-text {
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
    }

    .tree-plant-head, .edu-train-head, .adv-camp-head {
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
    }

    .tree-plant-img, .edu-train-img, .adv-camp-img {
        transform: translate(2.5em, -1.5em);
    }

    .tree-plant-btn, .edu-train-btn, .adv-camp-btn {
    
        align-self: stretch;
    }
}

/* Section-3 Ends Here */

/* Section-4 starts from here */

.section-4 {
    display: grid;
    row-gap: 1em;
    padding: 3em;


    background: transparent url('../../media/home/did-you-know-background.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 100%;
    background-size: cover;
}

.quote {
    display: grid;
    row-gap: 1em;
}

.quote-text {
    text-align: left;
    font: normal normal normal 3em/1.1em flood-std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.quote-btn {
    width: 12em;
    height: 3em;
    font: normal normal bold 1em/0.7em Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.other-things {
    display: grid;
    row-gap: 1em;
    /* column-gap: 2em; */
}

.did-you-know {
    justify-self: center;
    transform: translate(0, 100%);
}

.out-of, .h-million, .t-perc, .t-million {
    display: grid;
    padding: 1.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    row-gap: 0.7em;
}

.other-things div.head {
    text-align: left;
    font: normal normal bold 1.5em/1.7em Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.other-things div.text{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.other-things div.twitter {
    display: flex;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.other-things div.facebook {
    display: flex;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    grid-row: 2;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

/* Tablate View for section 4 */

@media only screen and (min-width: 420px) and (max-width: 768px) {
    .section-4 {
        display: grid;
        row-gap: 1em;
        padding: 3em;
        grid-template-columns: 1fr 1fr;
    }
    .quote {
        margin-top: 3em;
        grid-template-rows: 1fr 1fr;
    }

    .did-you-know {
        justify-self: start;
        transform: translate(15%, 100%);
    }

    .quote-btn {
        transform: translateY(-5em);
    }
    
}

/* Tablet View Ends here */

@media only screen and (min-width: 768px) {
    .section-4 {
        display: grid;
        row-gap: 1em;
        padding: 2em 3em 2em 3em;
        grid-template-columns: 1fr 1fr;
    }
    .quote {
        margin-top: 3em;
        padding: 0 3em 3em 3em;
        grid-template-rows: 1fr 1fr;
    }

    .did-you-know {
        justify-self: start;
        transform: translate(15%, 100%);
    }

    .quote-btn {
        transform: translateY(-5em);
    }
}

/* Section-4 Ends Here */

/* Section-5 stats from here */

.section-5{
    display: grid;
    padding: 2em;
    row-gap: 2em;
}

.stories {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.story-img {
    background: transparent url('../../media/home/lady-baby.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-position: center;
}

.story-btn {
    justify-self: center;
    transform: translateY(50%);
}

.person {
    display: grid;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2em;
    row-gap: 1em;
}

.person div.p-quote {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.person div.p-text{
    text-align: center;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
}

.wrapper {
    display: grid;
    row-gap: 2em;
}

.p-btn {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    width: 10em;
    height: 2.5em;
}

@media only screen and (min-width: 420px) and (max-width:768px) {
    /* .section-5{
        row-gap: ;
    } */

    .stories {
        padding: 0 6em 0 3em;
    }

    .story-btn {
        justify-self: start;
        margin-left: 2em;
    }

    .wrapper {
        transform: translateY(-25%);
        margin: 0 3em 0 6em;
        display: grid;
        row-gap: 2em;
    }

    .p-btn {
        justify-self: start;
    }
}

@media only screen and (min-width:768px) {
    .section-5{
        grid-template-columns: 1fr 1.5fr;
    }

    .stories{
        order: 1;
        margin-right: 5em;
    }

    .story-btn{
        justify-self: start;
        margin-left: 2em;
        transform: translateY(130%);
    }

    .wrapper {
        transform: translateX(25%);
        margin-top: 6em;
        padding: 4em;
    }

    .p-btn{
        justify-self: start;
    }
}

/* Section-5 Ends here */



/* Section-6 starts from here */

.section-6 {
    display: grid;
    padding: 5em 2em 3em 2em;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    row-gap: 2em;
}

.section-6 div.head{
    text-align: center;
    font: normal normal normal 3em/1em flood-std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.event, .news {
    display: grid;
    grid-template-rows: 0.1fr 4fr 1fr 2fr 0.5fr;
    row-gap: 2em;
}

.event-btn, .news-btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;

    justify-self: center;
    transform: translate(0, 3.5em);
}

.event-img {
    background: transparent url('../../media/home/tree-planting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center;
    background-size: cover;
}

.news-img {
    background: transparent url('../../media/home/meeting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center;
    background-size: cover;
}

.event-head, .news-head {
    text-align: center;
    font: normal normal bold 1.45em/1.3em Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.event div.text, .news div.text {
    text-align: center;
    font: normal normal normal 0.9em/1.5em Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
}

/* Tablet view for section 6 is from here */

@media only screen and (min-width: 420px) {

    .section-6 {
        grid-template-rows: 0.3fr 1fr 1fr;
        row-gap: 1em;
        padding-bottom: 1em;
    }

    .section-6 div.head {
        text-align: left;
        
        /* padding: 5em 3em 3em 3em;; */
    }
    .news, .event {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'img btn'
        'img head'
        'img text'
        '. text'
        '. read-more';
        column-gap: 2em;
    }

    .news {
        grid-template-areas:
        'btn img'
        'head img'
        'text img'
        'text .'
        'read-more .';
    }

    .news-btn, .event-btn{
        justify-self: left;
        grid-area: btn;
        transform: translate(0, 0);
    }

    .news-img, .event-img {
        grid-area: img;
    }

    .news-head, .event-head {
        grid-area: head;
        text-align: left;
    }

    .news div.text, .event div.text {
        grid-area: text;
        text-align: left;
        font: normal normal normal 1em/1em Helvetica;
    }
    .news div.btn, .event div.btn {
        grid-area: read-more;
        /* align-self: end; */
        /* grid-row: 4; */
    }
}

/* Desktop View for Section 6 */
@media only screen and (min-width: 768px) {

    .news, .event {

        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        padding: 0 4em 0 4em;
        column-gap: 5em;
    }

    .section-6 div.head {
        
        padding: 0 1em 0 1em;
        font: normal normal normal 72px/76px flood-std;

    }

    .event-head, .news-head {
        font: normal normal bold 44px/56px Helvetica;
    }

    .section-6 div.text {
        font: normal normal 300 20px/32px Helvetica;
    }

}

/* Section 6 Ends here */



/* Section-7 subscribe starts from here */

.section-7 {
    display: grid;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    grid-template-columns: 1fr 1fr 1fr;
    opacity: 1;
    padding: 2em;
    row-gap: 1em;
    column-gap: 2em;
}

.sub-message {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;

    grid-column: 1 / 4;
    grid-row: 1;
}

.sub-btn {
    grid-column: 3;
    width: 100%;
    grid-row: 2;
    text-align: left;
    font: normal normal bold 16px/19px Helvetica;
    letter-spacing: 0px;
    color: #C1F7D5;
    opacity: 1;
    border-radius: 100px;
}

.email-box {
    padding: 1em;
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;

}

/* Tablet view for section 7 from here */
@media only screen  and (min-width: 420px) and (max-width: 768px) {
    .sub-message {
        grid-column: 1 / 3;
        grid-row: 1;
    }
}

@media only screen and (min-width: 768px) {
    .section-7{
        grid-template-columns: 2fr 1fr 1fr;
        padding: 4em;
    }

    .sub-message{
        grid-column: 1;
        grid-row: 1;
    }

    .email-box {
        grid-column: 2;
        grid-row: 1;
        height: 25%;
    }

    .sub-btn {
        grid-column: 3;
        grid-row: 1;
    }
}

/* Section-7 Subsctive section ends here */

/* Footer Starts from here */

.footer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    padding: 2em;
    row-gap: 1em;
    justify-content: space-between;
}

.footer-title h2 {
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
}


.contact-us {
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}


.follow-us span.text , .learn-more span.text{
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.follow-us span.h-follow-us, .learn-more span.h-learn-more {
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.last-heading {
    text-align: right;
    grid-column: 2 / 3;
    font: normal normal normal 44px/46px flood-std;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

/* Tablet view for footer starts from here */

@media only screen and (min-width: 420px) and (max-width:768px) {

    .footer{
        grid-template-columns: auto auto auto;
        column-gap: 1em;
        row-gap: 2em;
        justify-content: space-between;
    }

    .learn-more {
        grid-column: 2 / 3;
        text-align: left;

    }

    .last-heading {
        grid-column: 3 / 4;
        text-align: left;
    }
    
}

@media only screen and (min-width:768px) {
    .footer{
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
        column-gap: 1em;
        justify-content: space-between;
    }

    .footer-title {
        justify-self: center;
    }

    .last-heading {
        grid-column: 5 / 6;
        text-align: left;
    }
}

